.fade-in-text {
  animation: fadeInUp 2s ease-out infinite;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.map-container {
  width: 100%;
  height: 250px; /* default small */
}

@media (min-width: 640px) {
  .map-container {
    height: 350px; /* small screens and up */
  }
}

@media (min-width: 768px) {
  .map-container {
    height: 450px; /* medium screens and up */
  }
}

@media (min-width: 1024px) {
  .map-container {
    height: 100%; /* full height on large screens */
  }
}
